.loader-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader {
  position: relative;
  width: 300px;
  height: 300px;
  filter: url(#liquid);
}

.loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  display: block;
  box-shadow: 0 0 40px #009ad4;
  background: linear-gradient(#02edff, #009ad4);
  animation: animate 5s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes animate {
  0% {
    left: 0;
  }
  25% {
    left: calc(100% - 40px);
  }
  50% {
    left: calc(100% - 40px);
  }
  75%,
  100% {
    left: 0;
  }
}

svg {
  width: 0;
  height: 0;
}
