.inputWrapper {
  position: relative;
  margin-bottom: 24px;
}

.iconWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 0.75rem;
  pointer-events: none;
}

.inputIcon {
  font-size: 1.25rem;
  color: #2232c5;
}

.inputField {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(46, 47, 49, 0.5);
  border-radius: 0.5rem;
  border: 1px solid #374151;
  color: white;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.inputField::placeholder {
  color: #26282bcc;
}

.inputField:focus {
  border-color: #2232c5;
  box-shadow: 0 0 0 2px #2232c5;
}
