.main {
  display: flex;
}

.sidebarWrapper {
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s ease-in-out;
}

.sidebarWrapper-toggle {
  width: 60px;
  flex: 0 0 60px;
  transition: all 0.3s ease-in-out;
}

.content {
  width: 80%;
  flex: 0 0 80%;
  transition: all 0.3s ease-in-out;
}

.contentToggle {
  width: calc(100% - 60px);
  flex: 0 0 calc(100% - 60px);
  transition: all 0.3s ease-in-out;
}
