/* MuiDataGrid-cell MuiDataGrid-cell--textLeft */

.right-content {
  /* padding: 70px  15px; */
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}

.pop-content {
  padding: 15px 15px;
}