.right-content {
  padding: 90px 15px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  flex: 2;
}

.infoWrapper {
  flex: 1;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

img {
  width: 100%;
  /* object-fit: cover; */
  border-radius: 5% 5% 5% 5%;
}
